:host {
    display: inline-block;
}

.i-avatar-root {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1;
    color: rgb(var(--foreground));

    &.xs {
        width: var(--element-xs);
        font-size: var(--font-size-xs);
    }

    &.sm {
        width: var(--element-sm);
        font-size: var(--font-size-sm);
    }

    &.md {
        width: var(--element-md);
        font-size: var(--font-size-md);
    }

    &.lg {
        width: var(--element-lg);
        font-size: var(--font-size-lg);
    }

    &.xl {
        width: var(--element-xl);
        font-size: var(--font-size-xl);
    }

    &.circular {
        border-radius: 50%;
    }

    &.square {
        border-radius: 0;
    }

    &.rounded-square {
        border-radius: var(--border-radius-md);
    }

    &.default {
        background-color: rgb(var(--default));
        color: rgb(var(--white));
    }

    &.primary {
        background-color: rgb(var(--primary));
        color: rgb(var(--white));
    }

    &.secondary {
        background-color: rgb(var(--secondary));
        color: rgb(var(--white));
    }

    &.success {
        background-color: rgb(var(--success));
        color: rgb(var(--black));
    }

    &.warning {
        background-color: rgb(var(--warning));
        color: rgb(var(--black));
    }

    &.danger {
        background-color: rgb(var(--danger));
        color: rgb(var(--white));
    }
}

.i-avatar-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}