// _breakpoints.scss
:root {
  --breakpoint-xs: 480px; // Extra small devices
  --breakpoint-sm: 768px; // Small devices
  --breakpoint-md: 992px; // Medium devices
  --breakpoint-lg: 1200px; // Large devices
  --breakpoint-xl: 1440px; // Extra large devices
}
