// _sizes.scss
:root {
  --size-xs: 16px;
  --size-sm: 24px;
  --size-md: 32px;
  --size-lg: 48px;
  --size-xl: 64px;

  --element-xs: 26px;
  --element-sm: 34px;
  --element-md: 42px;
  --element-lg: 58px;
  --element-xl: 74px;
}