.calendar-body-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--spacing-sm);
    padding-bottom: var(--spacing-md);
}

.week-day-name {
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    text-align: center;
}

.calendar-body-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--spacing-sm);
}

.day-button {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    padding: var(--spacing-xs) !important;
    font-size: var(--font-size-sm) !important;
    color: rgb(var(--foreground)) !important;

    &.empty-day-button {
        visibility: hidden;
        pointer-events: none;
    }

    &.disabled-button {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;

    }

}