// src/styles/global.scss

@import './_animations.scss';
@import './_breakpoints.scss';
@import './_font-weights.scss';
@import './_spacing.scss';
@import './_border-radius.scss';
@import './_colors.scss';
@import './_fonts.scss';
@import './_theme.scss';
@import './_borders.scss';
@import './_font-sizes.scss';
@import './_shadows.scss';
@import './_typography.scss';
@import './sizes.scss';
* {
  box-sizing: border-box;
}
