.accordion-trigger-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: var(--spacing-md) 0px;
  .accordion-trigger-chevron {
    transform: rotate(0deg);
    transition: transform var(--animation-duration-short) ease-in-out;
  }
}
.accordion-trigger-root-disabled {
  cursor: not-allowed;
  background-color: rgba(var(--zinc-200), 0.5);
  color: rgba(var(--black), 0.5);
}
.accordion-trigger-root-expanded {
  .accordion-trigger-chevron {
    transform: rotate(180deg);
  }
}
