:host {
    display: inline-flex;
}

.i-input-field-root {

    --input-field-root-opacity: 0.2;
    --input-field-root-hover-opacity: 0.3;
    --input-field-root-placeholder-opacity: 0.5;
    --input-field-content-opacity: 0.7;
    display: flex;
    align-items: center;
    color: rgb(var(--foreground));
    height: 100%;
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-md);
    transition: var(--animation-duration-short) ease-in-out;

    &:focus {
        outline: 1px solid green;
    }

    &--default {
        background-color: rgba(var(--default), var(--input-field-root-opacity));
        color: rgb(var(--default));

        ::placeholder {
            color: rgba(var(--default), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--default), var(--input-field-root-hover-opacity));
        }
    }

    &--primary {
        background-color: rgba(var(--primary), var(--input-field-root-opacity));
        color: rgb(var(--primary));

        ::placeholder {
            color: rgba(var(--primary), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--primary), var(--input-field-root-hover-opacity));
        }

    }

    &--secondary {
        background-color: rgba(var(--secondary), var(--input-field-root-opacity));
        color: rgb(var(--secondary));

        ::placeholder {
            color: rgba(var(--secondary), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--secondary), var(--input-field-root-hover-opacity));
        }
    }

    &--success {
        background-color: rgba(var(--success), var(--input-field-root-opacity));
        color: rgb(var(--success));

        ::placeholder {
            color: rgba(var(--success), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--success), var(--input-field-root-hover-opacity));
        }
    }

    &--warning {
        background-color: rgba(var(--warning), var(--input-field-root-opacity));
        color: rgb(var(--warning));

        ::placeholder {
            color: rgba(var(--warning), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--warning), var(--input-field-root-hover-opacity));
        }
    }

    &--danger {
        background-color: rgba(var(--danger), var(--input-field-root-opacity));
        color: rgb(var(--danger));

        ::placeholder {
            color: rgba(var(--danger), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--danger), var(--input-field-root-hover-opacity));
        }
    }

    &-radius {
        &--xs {
            border-radius: var(--border-radius-xs);
        }

        &--sm {
            border-radius: var(--border-radius-sm);
        }

        &--md {
            border-radius: var(--border-radius-md);
        }

        &--lg {
            border-radius: var(--border-radius-lg);
        }

        &--xl {
            border-radius: var(--border-radius-xl);
        }
    }
}

.i-input-field-input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
    color: inherit;
    padding: var(--spacing-sm);
}

.i-input-field-start-content,
.i-input-field-right-content {
    &--default {
        color: rgba(var(--default), var(--input-field-content-opacity));
        stroke: rgba(var(--default), var(--input-field-content-opacity));
    }

    &--primary {
        color: rgba(var(--primary), var(--input-field-content-opacity));
        stroke: rgba(var(--primary), var(--input-field-content-opacity));
    }

    &--secondary {
        color: rgba(var(--secondary), var(--input-field-content-opacity));
        stroke: rgba(var(--secondary), var(--input-field-content-opacity));
    }

    &--success {
        color: rgba(var(--success), var(--input-field-content-opacity));
        stroke: rgba(var(--success), var(--input-field-content-opacity));
    }

    &--warning {
        color: rgba(var(--warning), var(--input-field-content-opacity));
        stroke: rgba(var(--warning), var(--input-field-content-opacity));
    }

    &--danger {
        color: rgba(var(--danger), var(--input-field-content-opacity));
        stroke: rgba(var(--danger), var(--input-field-content-opacity));
    }

}