:host {
    display: inline-flex;
}

.i-input-field-root {

    --input-field-root-opacity: 0.5;
    --input-field-root-hover-opacity: 0.3;
    --input-field-root-placeholder-opacity: 0.5;
    --input-field-content-opacity: 0.7;
    display: flex;
    align-items: center;
    color: rgb(var(--foreground));
    height: auto;
    width: auto;
    padding: var(--spacing-sm) var(--spacing-md);
    transition: var(--animation-duration-short) ease-in-out;
    opacity: 1;

    &--focussed {
        outline: 2px solid rgb(var(--outline));
        outline-offset: 2px;
    }

    &--default {
        background-color: rgb(var(--default-bg));
        color: rgb(var(--default));

        ::placeholder {
            color: rgba(var(--default), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--default), var(--input-field-root-hover-opacity));
        }

        &--disabled {
            opacity: 0.5 !important;
            cursor: not-allowed;

            &:hover {
                background-color: rgb(var(--default-bg));
                color: rgb(var(--default));
            }
        }
    }

    &--primary {
        background-color: rgb(var(--primary-bg));
        color: rgb(var(--primary));

        ::placeholder {
            color: rgba(var(--primary), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--primary), var(--input-field-root-hover-opacity));
        }

        &--disabled {
            opacity: 0.5 !important;
            cursor: not-allowed;

            &:hover {
                background-color: rgb(var(--primary-bg));
                color: rgb(var(--primary));
            }
        }

    }

    &--secondary {
        background-color: rgb(var(--secondary-bg));
        color: rgb(var(--secondary));

        ::placeholder {
            color: rgba(var(--secondary), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--secondary), var(--input-field-root-hover-opacity));
        }

        &--disabled {
            opacity: 0.5 !important;
            cursor: not-allowed;

            &:hover {
                background-color: rgb(var(--secondary-bg));
                color: rgb(var(--secondary));
            }
        }
    }

    &--success {
        background-color: rgb(var(--success-bg));
        color: rgb(var(--success));

        ::placeholder {
            color: rgba(var(--success), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--success), var(--input-field-root-hover-opacity));
        }

        &--disabled {
            opacity: 0.5 !important;
            cursor: not-allowed;

            &:hover {
                background-color: rgb(var(--success-bg));
                color: rgb(var(--success));
            }
        }
    }

    &--warning {
        background-color: rgb(var(--warning-bg));
        color: rgb(var(--warning));

        ::placeholder {
            color: rgba(var(--warning), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--warning), var(--input-field-root-hover-opacity));
        }

        &--disabled {
            opacity: 0.5 !important;
            cursor: not-allowed;

            &:hover {
                background-color: rgb(var(--warning-bg));
                color: rgb(var(--warning));
            }
        }

    }

    &--danger {
        background-color: rgb(var(--danger-bg));
        color: rgb(var(--danger));

        ::placeholder {
            color: rgba(var(--danger), var(--input-field-root-placeholder-opacity));
        }

        &:hover {
            background-color: rgba(var(--danger), var(--input-field-root-hover-opacity));
        }

        &--disabled {
            opacity: 0.5 !important;
            cursor: not-allowed;

            &:hover {
                background-color: rgb(var(--danger-bg));
                color: rgb(var(--danger));
            }
        }

    }

    &-radius {
        &--xs {
            border-radius: var(--border-radius-xs);
        }

        &--sm {
            border-radius: var(--border-radius-sm);
        }

        &--md {
            border-radius: var(--border-radius-md);
        }

        &--lg {
            border-radius: var(--border-radius-lg);
        }

        &--xl {
            border-radius: var(--border-radius-xl);
        }
    }
}

.i-input-field-input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
    color: inherit;
    padding: var(--spacing-sm);

    &--disabled {
        cursor: not-allowed;
    }
}

.i-input-field-start-content,
.i-input-field-right-content {
    &--default {
        color: rgba(var(--default), var(--input-field-content-opacity));
        stroke: rgba(var(--default), var(--input-field-content-opacity));
    }

    &--primary {
        color: rgba(var(--primary), var(--input-field-content-opacity));
        stroke: rgba(var(--primary), var(--input-field-content-opacity));
    }

    &--secondary {
        color: rgba(var(--secondary), var(--input-field-content-opacity));
        stroke: rgba(var(--secondary), var(--input-field-content-opacity));
    }

    &--success {
        color: rgba(var(--success), var(--input-field-content-opacity));
        stroke: rgba(var(--success), var(--input-field-content-opacity));
    }

    &--warning {
        color: rgba(var(--warning), var(--input-field-content-opacity));
        stroke: rgba(var(--warning), var(--input-field-content-opacity));
    }

    &--danger {
        color: rgba(var(--danger), var(--input-field-content-opacity));
        stroke: rgba(var(--danger), var(--input-field-content-opacity));
    }

}