.calendar-root {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));

  padding: var(--spacing-md);

  border: var(--border-thin) rgb(var(--divider));
  border-radius: var(--border-radius-xl);
  box-shadow: var(--shadow-sm) rgb(var(--divider));
  max-width: fit-content;
  max-height: fit-content;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--spacing-lg);
}

.calendar-header-nav-button {
  border-radius: 50%;
  padding: var(--spacing-sm);
  color: rgb(var(--foreground)) !important;
  background-color: transparent !important;
}

.calendar-header-info {
  padding: 0px var(--spacing-lg);
}