.accordion-root {
  display: block;
  padding: var(--spacing-md) var(--spacing-sm);
  font-size: var(--font-size-md);
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  border-radius: var(--border-radius-lg);
}