.calendar-body-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--spacing-sm);
    padding-bottom: var(--spacing-md);
}

.week-day-name {
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    text-align: center;
}

.calendar-body-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--spacing-sm);
}

.day-button {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: var(--spacing-xs) !important;
    font-size: var(--font-size-sm) !important;
    color: rgb(var(--foreground)) !important;

    &.empty-day-button {
        visibility: hidden;
        pointer-events: none;
    }

    &.disabled-button {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;

    }

    &.primary {
        &:hover {
            color: rgb(var(--primary)) !important;
        }

        &.selected-button {
            background-color: rgb(var(--primary)) !important;
            color: rgb(var(--background)) !important;
            font-weight: var(--font-weight-bold);

            &:hover {
                background-color: rgba(var(--primary), 0.9) !important;
                color: rgb(var(--background)) !important;
            }

        }
    }

    &.secondary {
        &:hover {
            color: rgb(var(--secondary)) !important;
        }

        &.selected-button {
            background-color: rgb(var(--secondary)) !important;
            color: rgb(var(--background)) !important;
            font-weight: var(--font-weight-bold);

            &.today-button,
            &:hover {
                background-color: rgba(var(--secondary), 0.9) !important;
                color: rgb(var(--background)) !important;
            }
        }
    }

    &.success {
        &:hover {
            color: rgb(var(--success)) !important;
        }

        &.selected-button {
            background-color: rgb(var(--success)) !important;
            color: rgb(var(--background)) !important;
            font-weight: var(--font-weight-bold);

            &:hover {
                background-color: rgba(var(--success), 0.9) !important;
                color: rgb(var(--background)) !important;
            }
        }
    }

    &.warning {
        &:hover {
            color: rgb(var(--warning)) !important;
        }

        &.selected-button {
            background-color: rgb(var(--warning)) !important;
            color: rgb(var(--background)) !important;
            font-weight: var(--font-weight-bold);

            &:hover {
                background-color: rgba(var(--warning), 0.9) !important;
                color: rgb(var(--background)) !important;
            }
        }
    }

    &.danger {
        &:hover {
            color: rgb(var(--danger)) !important;
        }

        &.selected-button {
            background-color: rgb(var(--danger)) !important;
            color: rgb(var(--background)) !important;
            font-weight: var(--font-weight-bold);

            &:hover {
                background-color: rgba(var(--danger), 0.9) !important;
                color: rgb(var(--background)) !important;
            }
        }
    }

    &.default {
        &:hover {
            color: rgb(var(--default)) !important;
        }

        &.selected-button {
            background-color: rgb(var(--default)) !important;
            color: rgb(var(--background)) !important;
            font-weight: var(--font-weight-bold);

            &:hover {
                background-color: rgba(var(--default), 0.9) !important;
                color: rgb(var(--background)) !important;
            }

        }
    }

}